.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-box {
    background: rgb(235, 235, 235);
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
}