.header {
    text-align: center;
    padding: 1rem;
    background: #111;
    color: white;
}

.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    margin-left: 1rem;
    background: yellow;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;

    transition: transform 0.1s ease;
}

.plus-btn:hover {
    transform: scale(0.9);
}